<mat-card class="header-card p-24">
    <div class="card-content">
        <button class="pin-upper-right-corner" [matMenuTriggerFor]="menuUser" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menuUser="matMenu">
            <button mat-menu-item (click)="openEditUser()">Edit</button>
            <button [routerLink]="['/user' + userId]" mat-menu-item (click)="deleteUser()">Delete User</button>
        </mat-menu>


        <div class="img-container">
            <img src="assets/profile-img.png" alt="">
        </div>
        <div class="header-info">
            <div class="flex">
                <h2 id="name">{{user.firstName}} {{user.lastName}}</h2>
            </div>
            <div class="flex">
                <p class="mr-16">email:</p>
                <p id="email">{{user.email}}</p>
                <mat-icon class="wh-18" (click)="copyToClipboard('name')">file_copy</mat-icon>
            </div>
            <div class="flex">
                <p class="mr-16">phone:</p>
                <p id="phone">{{user.phone}}</p>
                <mat-icon class="wh-18" (click)="copyToClipboard('name')">file_copy</mat-icon>
            </div>
            <div class="flex">
                <p class="mr-16">birthdate:</p>
                <p id="bDate">{{bDate}}</p>
                <mat-icon class="wh-18" (click)="copyToClipboard('bDate')">file_copy</mat-icon>
            </div>

        </div>
    </div>
</mat-card>


<mat-card class="mt-32 p-24">
    <button class="pin-upper-right-corner" [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openEdit()">Edit</button>
        <button [routerLink]="['/user' + userId]" mat-menu-item (click)="deleteUser()">Delete User</button>
    </mat-menu>
    <mat-card-title class="mb-16">Address</mat-card-title>
    <p>{{user.street}}</p>
    <p>{{user.zipCode}} {{user.city}}</p>
</mat-card>

<div class="mt-32" *ngIf="filledNotes">
    <mat-card>
        <mat-card-title class="mb-16 title ">Notes</mat-card-title>
        <ul>
            <li *ngFor="let note of existingNotes; let i = index">
             <div class="note-text li-row">
               <p class="mr-90">{{ note }}</p> 
              <button class="note-item-button" mat-raised-button color="warn" (click)="deleteNote(i)">X</button>
             </div>

            </li>
          </ul>
    </mat-card>

  </div>

<mat-card class="mt-32 p-24 mobile-mb-100">
    <mat-card-title class="mb-16">Write note</mat-card-title>
    <mat-form-field>
        <mat-label>Textarea</mat-label>
        <textarea id="notes" [(ngModel)]="newNote" matInput></textarea>
    </mat-form-field>
    <button class="save-button" (click)="pushNote()" mat-raised-button color="primary">Save</button>
</mat-card>