.header-card{
    height: 300px;
    background-color: orange;
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    color: white;


}

.img-container{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: rgb(106, 210, 255);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    

    img{
        width: 50px;
    }
}

.card-content{
    display: flex;
    align-items: center;
}

.header-info{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    h2{
        margin: 0px;
    }

}

h2{
    margin-bottom: 15px !important;
}

p{
    margin: 0;
    margin-bottom: 10px;
}

.save-button{
    width :60px;
}

.wh-18{
    margin-left: 16px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.note-text {
    word-wrap: break-word !important; /* Allow text to wrap to the next line */
  }

 .li-row{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    p{
        width: 70%;
        margin: 0;
    }
    
 }

 .title{
    padding-left: 24px;
    padding-top: 24px;
 }
  
  .note-item-button {
    min-width: 0px !important;
    margin-right: 2px;


}
  

@media(max-width:750px){
    .mobile-mb-100{
        margin-bottom: 100px;
    }
}

@media(max-width:415px){
    .card-content{
        flex-direction: column;
    }
}

