<mat-card class="header-card p-24" [class.darkmode-background-black]="this.dm.isChecked">
    
    <div class="card-content">
        <button class="pin-upper-right-corner" [matMenuTriggerFor]="menuUser" mat-icon-button>
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menuUser="matMenu">
            <button mat-menu-item (click)="openEditUser()">Edit</button>
            <button [routerLink]="['/user' + userId]" mat-menu-item (click)="deleteUser()">Delete User</button>
        </mat-menu>


        <div class="img-container">
            <img src="assets/profile-img.png" alt="">
        </div>
        <div class="header-info">
            <div class="flex">
                <h2 id="name">{{user.firstName}} {{user.lastName}}</h2>
            </div>
            <div class="flex">
                <p class="mr-16">email:</p>
                <a  href="mailto:{{user.email}}" id="email">{{user.email}}</a>  
            </div>
            <div class="flex">
                <p class="mr-16">phone:</p>
                <a href="phoneto:{{user.phone}}" id="phone">{{user.phone}}</a>  
            </div>
            <div class="flex">
                <p class="mr-16">born:</p>
                <p id="bDate">{{bDate}}</p>
                
            </div>
        </div>
    </div>
</mat-card>

<mat-card class="mt-32 p-24" [class.darkmode-background-black]="this.dm.isChecked">
    
    <button class="pin-upper-right-corner" [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openEdit()">Edit</button>
        <button [routerLink]="['/user' + userId]" mat-menu-item (click)="deleteUser()">Delete User</button>
    </mat-menu>
    <mat-card-title class="mb-16">Address</mat-card-title>
    <p>{{user.street}}</p>
    <p>{{user.zipCode}} {{user.city}}</p>
</mat-card>

<mat-card class="mt-32 p-24" [class.darkmode-background-black]="this.dm.isChecked">
    <button class="pin-upper-right-corner" [matMenuTriggerFor]="contractMenu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #contractMenu="matMenu">
        <button mat-menu-item (click)="openAddContract()">Add Contract</button>
        <button mat-menu-item (click)="openEditContract()">Edit Contract</button>
    </mat-menu>
    <mat-card-title class="mb-16">Contracts</mat-card-title>
    <table>
        <tr>
            <td><b>Contract name</b></td>
            <td><b>Income</b> </td>
            <td><b>Expense</b> </td>
        </tr>
        <tr *ngFor="let contract of existingContracts; let i = index">
            <td> {{ contract.name }}</td>
            <td> {{ contract.income }} $</td>
            <td> {{ contract.expense }} $</td>
        </tr>
            
        
    </table>

</mat-card>

<div class="mt-32" *ngIf="filledNotes">
    <mat-card [class.darkmode-background-black]="this.dm.isChecked">
        
        <mat-card-title class="mb-16 title ">Notes</mat-card-title>
        <ul>
            <li *ngFor="let note of existingNotes; let i = index">
             <div class="note-text li-row">
               <p class="mr-90">{{ note }}</p> 
              <button class="note-item-button" mat-raised-button color="warn" (click)="deleteNote(i)">X</button>
             </div>

            </li>
          </ul>
    </mat-card>

  </div>

<mat-card class="mt-32 p-24 mobile-mb-100" [class.darkmode-background-black]="this.dm.isChecked">
    <form (submit)="pushNote()" #noteForm="ngForm">
    <mat-card-title class="mb-16">Write note</mat-card-title>
    <mat-form-field class="mr-16">
        <mat-label>Textarea</mat-label>
        <textarea id="notes" [(ngModel)]="newNote" name="newNote" matInput required ngModel #newNoteModel="ngModel"></textarea>
    </mat-form-field>
    <button class="save-button" type="submit" mat-raised-button color="primary" [disabled]="!noteForm.form.valid">Save</button>
</form>
</mat-card>