<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<h3 class="mb-16" mat-dialog-title>Edit User</h3>
<div mat-dialog-content>
  <div class="input-container">
    <mat-form-field class="mr-16" appearance="outline">
      <mat-label>First name</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="Placeholder">
    </mat-form-field>
  </div>
  
  <div class="mb-22-4">
    <mat-radio-group [disabled]="loading" [(ngModel)]="user.gender" aria-label="Select an option">
      <mat-radio-button value="male">male</mat-radio-button>
      <mat-radio-button value="female">female</mat-radio-button>
      <mat-radio-button value="divers">divers</mat-radio-button>
    </mat-radio-group>
  </div>

  <div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Birth Day</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.birthDate" matInput placeholder="Placeholder" matInput
        [matDatepicker]="picker1">
      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.email" matInput placeholder="Placeholder">
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Phone</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.phone" matInput placeholder="Placeholder">
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>


</div>
<div mat-dialog-actions class="p-24">
  <button [disabled]="loading" mat-raised-button (click)="closeDialog()">Cancel</button>
  <button [disabled]="loading" mat-raised-button  color="primary" (click)="saveUser()" >Save</button>
</div>