        <div class="mobile">
            <h3 class="mt-32 mb-32">Login</h3>
            <form (ngSubmit)="loginCheck(email,password)">
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label [class.darkmode-input]="this.dm.isChecked">Email</mat-label>
                <input [class.darkmode-input]="this.dm.isChecked"class="custom-border-red" [(ngModel)]="email" name="email" matInput type="text" placeholder="Email" #userName required>
            </mat-form-field>
            <div>
                <mat-form-field class="mr-16" appearance="outline">
                    <mat-label [class.darkmode-input]="this.dm.isChecked">Password</mat-label>
                    <input [class.darkmode-input]="this.dm.isChecked" matInput type="password" [(ngModel)]="password" name="password" placeholder="password" #userPassword required>
                </mat-form-field>
            </div>
            <!-- Calling SignIn Api from AuthService -->
            <div>
                <button class="mr-16" mat-raised-button color="primary" type="submit">Login</button>

                    <button mat-raised-button color="primary" type="button"
                    (click)="loginCheck('guest@trash-mail.com','guestlogin')">Guest Login</button>
            </div>
            <div class="mt-32">
                <span class="colored" routerLink="/password">Forgot Password?</span>
            </div>
            <div>
                <span>Don't have an account?<span class="colored" routerLink="/sign-up">
                        Sign Up</span></span>
            </div>
        



