        <mat-card>
            <form class="content mb-32" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h3 class="mt-32 mb-32">Login</h3>
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input formControlName="email" matInput type="email" placeholder="Email">
                  <mat-error *ngIf="loginForm.get('email').hasError('required')">Email is required</mat-error>
                  <mat-error *ngIf="loginForm.get('email').hasError('email')">Invalid email format</mat-error>
                </mat-form-field>
              
                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input formControlName="password" matInput type="password" placeholder="Password">
                  <mat-error *ngIf="loginForm.get('password').hasError('required')">Password is required</mat-error>
                </mat-form-field>
              <div>
                <button mat-raised-button class="mr-16" color="primary" [disabled]="!loginForm.valid" type="submit">Login</button>
                <button mat-raised-button  type="button"
                    (click)="loginCheck('guest@trash-mail.com','guestlogin')">Guest Login</button>
              </div>

                    <div class="mt-32">
                        <span class="colored" routerLink="/password">Forgot Password?</span>
                    </div>
                    <div>
                        <span>Don't have an account?<span class="colored" routerLink="/sign-up">
                                Sign Up</span></span>
                    </div>
              </form>
            </mat-card>
           
        


        



