.colored{
    color: #3f51b5;
    cursor: pointer;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field{
    width: 300px;
}



  ::ng-deep .custom-border-red{
    border-color: green !important;
  }

  @media(max-width:750px){
    .mobile{
      padding-left:16px;
    }
  }