h2{
    font-size: 20px !important;
}

h3{
    font-size: 20px !important;
}

.container{
    overflow-x: hidden;
    p{
        font-size: 14px;
    }
}

@media(max-width:750px){
.container{
    margin-bottom: 80px;
}
}