h2{
    font-size: 20px !important;
}

h3{
    font-size: 20px !important;
}

.container{
    
    overflow-x: hidden;
    margin-bottom: 80px;
    padding-left:  16px;
    margin-right: 16px;
    p{
        font-size: 14px;
    }
}