<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Sign Up</h3>
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="text"  placeholder="Email" #userEmail required>
              </mat-form-field>
            <div >
                <mat-form-field class="mr-16" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password"  placeholder="password" #userPwd required>
                  </mat-form-field>
            <div class="formGroup">
                <input type="button" class="btn btnPrimary" value="Sign Up"
                    (click)="authService.SignUp(userEmail.value, userPwd.value)" />
            </div>
            <div class="redirectToLogin">
                <span>Already have an account?
                    <button  mat-raised-button color="primary" class="redirect" routerLink="/login">Log In</button></span>
            </div>
        </div>
    </div>