

  <form (ngSubmit)="pushContract()">
    <div mat-dialog-content class="form-container">
        <h3 mat-dialog-title>Edit Contract</h3>
        <mat-form-field>
            <mat-label>Contract name</mat-label>
            <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
              </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Income</mat-label>
            <span style="margin-left: 5px;" matPrefix>$&nbsp;</span>
            <input type="number" matInput placeholder="Income" [(ngModel)]="income" name="icome">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Expense</mat-label>
            <span style="margin-left: 5px;" matPrefix>$&nbsp;</span>
            <input type="number" matInput placeholder="Expense" [(ngModel)]="expense" name="expense">
        </mat-form-field>

        <div>
            <button mat-raised-button type="button" (click)="closeDialog()">Cancel</button>
            <button mat-raised-button type="submit" color="primary">Save</button>
            <button mat-raised-button type="button" color="warn" (click)="deleteContract()">Cancel</button>
        </div>



    </div>


</form>