<app-search></app-search>
<mat-card *ngIf="!this.search.search" [class.darkmode-background-black]="this.dm.isChecked">
  <table class="user-table">
    <tr>
      <td><b> Name</b></td>
      <td><b> Email</b></td>
      <td><b> City</b></td>
    </tr>
    <tr *ngFor="let customer of loadedUser"  [routerLink]="'/user/' + userId + '/' + customer.id">
      <td>{{customer.firstName}} {{customer.lastName}} </td>
      <td>{{customer.email}}</td>
      <td>{{customer.city}}</td>
    </tr>
  </table>
</mat-card>
<button (click)="openDialog()" matTooltip="add an user" class="add-user-bt" mat-fab color="primary"
  aria-label="Example icon button with a delete icon">

  <mat-icon>add</mat-icon>
</button>