.add-user-bt{
    position: absolute;
    right: 56px;
    bottom: 80px;
}

.container{
    overflow-y: auto;
}

.user-table{
    border-collapse: collapse;
    tr{
        border-bottom: 1px solid rgba(0, 0, 0,0.4);
        cursor: pointer;
        &:hover{
            background-color: rgba(0, 0, 0,0.2);
        }
        &:last-child{
            border-bottom: 0;
        }
        &:first-child{
            cursor: unset;
            &:hover{
                background-color: unset;
            }
        }
    }
    td{
        height: 36px;
        &:first-child{
            padding-left: 16px;
        }
        &:last-child{
            padding-right: 16px;
        }
    }

}

@media(max-width:750px){
    .add-user-bt {
        top: 71px;
        position: absolute;
        right: 10px;
    }

    .container{
        margin-bottom: 64px;
    }
}

@media(max-width:350px){
    .user-table{
     font-size:11px;
    }
 }

