<mat-card>
    <button class="pin-upper-right-corner" [matMenuTriggerFor]="menuUser" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
    </button>
    <div class="profile-info">
        <mat-menu #menuUser="matMenu">
            <button (click)="deleteUser()" mat-menu-item>Delete User</button>
        </mat-menu>
        <mat-card-title>
            Profile Information
        </mat-card-title>
        <div class="profile-details mt-32">
            <div class="detail-container">
                <mat-icon class="mr-16">account_circle</mat-icon>
                <p>{{userData?.displayName}}</p>
            </div>
            <div class="detail-container">
                <mat-icon class="mr-16">mail_outline</mat-icon>
                <p>{{userData?.email}}</p>
            </div>

            <div class="detail-container">
                <mat-icon class="mr-16">verified_user</mat-icon>
                <p>Verified: {{userData?.emailVerified}}</p>
            </div>

        </div>
    </div>
</mat-card>