 <div class="container">
  <form class="form-container"  [formGroup]="forgotPassword" (ngSubmit)="onSubmit()" class="p-16">
    <h3 class="mt-32 mb-32">Reset Password</h3>
    <p class="text-center">Please enter your email address to request a password reset.</p>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="email" placeholder="Email" required>
      <mat-error *ngIf="forgotPassword.get('email').hasError('email')">Email is required</mat-error>
    </mat-form-field>
    <div>
      <button class="mt-32 mb-32" mat-raised-button color="primary" type="submit" [disabled]="!forgotPassword.valid"
        >Forgot Password</button>
    </div>
  </form>
<div class="p-16">
  <span>Go back to ? <span class="colored" routerLink="/login">Log In</span></span>
</div>
 </div>
