<div class="authBlock">
  <h3 class="mt-32 mb-32">Reset Password</h3>
  <p class="text-center">Please enter your email address to request a password reset.</p>
  <div class="formGroup">
    <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
  </div>
  <!-- Calling ForgotPassword from AuthService Api -->
  <div class="formGroup">
    <button class="mt-32 mb-32" mat-raised-button color="primary" type="button"
      (click)="authService.ForgotPassword(passwordResetEmail.value)">Forgot Password</button>
  </div>
</div>
<div class="redirectToLogin">
  <span>Go back to ? <span class="colored" routerLink="/login">Log In</span></span>
</div>