<div class="row mb-32">

    <mat-form-field class="mr-16" appearance="outline" [class.darkmode-background-black]="this.dm.isChecked">
        <mat-label [class.darkmode-background-black]="this.dm.isChecked">Name</mat-label>
        <input [class.darkmode-background-black]="this.dm.isChecked" matInput type="text" name="firstName" #name="ngModel" [(ngModel)]="searchParams.firstName"
            placeholder="Name" />
    </mat-form-field>

    <mat-form-field class="mr-16" appearance="outline" [class.darkmode-background-black]="this.dm.isChecked">
        <mat-label [class.darkmode-background-black]="this.dm.isChecked">Email</mat-label>
        <input [class.darkmode-background-black]="this.dm.isChecked" matInput type="text" name="email" #email="ngModel" [(ngModel)]="searchParams.email"
            placeholder="Email" />
    </mat-form-field>



    <mat-form-field class="mr-16" appearance="outline" [class.darkmode-background-black]="this.dm.isChecked" >
        <mat-label [class.darkmode-background-black]="this.dm.isChecked">City</mat-label>
        <input [class.darkmode-background-black]="this.dm.isChecked"  matInput type="text" name="city" #city="ngModel" [(ngModel)]="searchParams.city" placeholder="City" />
    </mat-form-field>
    <div class="button-container">
        <button  type="button" mat-raised-button color="primary"
            (click)="onSearchCustomer()">Search</button>
        <button *ngIf="this.search.search" type="button" mat-raised-button color="primary"
            (click)="CancelSearch()">Cancel</button>
    </div>
</div>

<mat-card *ngIf="this.search.search" [class.darkmode-background-black]="this.dm.isChecked">
    <table class="user-table full-width">
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>City</td>
        </tr>

        <div *ngIf="!isSearchEmpty; else noSearch" class="mr-16"></div>

        <tr *ngFor="let customer of customer; index as i" (click)="CancelSearch()" [routerLink]="'/user/' + userId + '/' + customer.id">
            <td>{{ customer.firstName }} {{ customer.lastName }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.city }}</td>
        </tr>


    </table>

    <ng-template #noSearch> Search result not found ! </ng-template>
</mat-card>