.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

mat-form-field{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.button-container{
    flex-direction: column;
    display: flex;
    gap: 2px;

}
  
.mat-form-field.mat-focused .mat-input-element::placeholder {
    color: white; /* Set the placeholder text color to white when focused */
  }
.white-placeholder::placeholder {
    color: white; /* Set the placeholder text color to white */
  }

  .mat-form-field.darkmode-background-black .mat-form-field-placeholder,
  .mat-form-field.darkmode-background-black .mat-input-element::placeholder {
    color: white; /* Change this to the color you want */
  }
  


.user-table{
    border-collapse: collapse;
    tr{
        border-bottom: 1px solid rgba(0, 0, 0,0.4);
        cursor: pointer;
        &:hover{
            background-color: rgba(0, 0, 0,0.2);
        }
        &:last-child{
            border-bottom: 0;
        }
        &:first-child{
            cursor: unset;
            &:hover{
                background-color: unset;
            }
        }
    }
    td{
        height: 36px;
        &:first-child{
            padding-left: 16px;
        }
    }

}

@media(max-width:750px){
    .row{
        padding: 0 16px;
    }
}