<div></div>
<mat-menu #menuSettings="matMenu">
  <ul class="more-menu-items">
    <li id="imprint" routerLink="/imprint" >
      <mat-icon >list_alt_icon</mat-icon> Imprint
    </li>
    <li id="policy" routerLink="/private-policy" >
      <mat-icon >security</mat-icon> Policy
    </li>
    <li>
      <mat-slide-toggle [(ngModel)]="this.dm.isChecked" (change)="this.chart.recreateChart()"></mat-slide-toggle>
      Darkmode
    </li>
  </ul>
</mat-menu>

<ul class="menu-items" *ngIf="this.authService.isLoggedIn">
    <li id="dashboardm" routerLink="/dashboard/{{userId}}" (click)="select('dashboardm')">
      <mat-icon >dashboard</mat-icon> Dashboard
    </li>
    <li id="user" routerLink="/user" (click)="select('user')">
      <mat-icon >person</mat-icon> Customer
    </li>
    <li id="account" routerLink="/profile/{{userId}}" (click)="select('account')">
      <mat-icon >account_circle</mat-icon> Profile
    </li>

    <li id="more" [matMenuTriggerFor]="menuSettings" (click)="select('more')">
      <mat-icon  style="rotate: 90deg;">more_vert</mat-icon> More
    </li>
  </ul>